
# dependencies
server/node_modules
server/.env

client/node_modules
client/.env

# production
# Build files
client/build/
server/dist/

# Logs
logs
*.log
npm-debug.log*

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
 
